@model IEnumerable<PresentationWebApp.Models.ViewModels.ListProductsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Products Catalogue</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


@Html.Partial("PartialSearch")


<div>
    @foreach (var item in Model)
    {
        <div class="card">
            <a href="\Products\Details\@item.Id">
                <img src="@item.Image" alt="@item.Name">
                <div class="container">
                    <h4><b>@item.Name</b></h4>
                    <p>€@item.Price</p>
                </div>
            </a>
        </div>
    }
</div>